<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.yvanbrunel.dimmer" android:versionCode="1" android:versionName="1.0">
	<uses-permission android:name="android.permission.BIND_QUICK_SETTINGS_TILE" />
	<application android:allowBackup="true" android:icon="@mipmap/appicon" android:debuggable="true" android:label="@string/app_name" android:supportsRtl="true" android:enableOnBackInvokedCallback="true">
		<meta-data android:name="NothingKey" android:value="test" />
		<activity android:name="com.yvanbrunel.dimmer.TransitionActivity" android:directBootAware="true" android:theme="@style/Theme.Dimmer.Splash" android:exported="false" android:launchMode="singleTop">
			<intent-filter android:autoVerify="true">
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<!-- Replace 'yourdomain.com' with your actual, verified domain -->
				<data android:scheme="https" android:host="dimmer.ybtopaz.com" />
				<!-- Optional: android:pathPrefix="/invite" if your links always start with /invite -->
				<!-- <data android:scheme="https"
                          android:host="yourdomain.com"
                          android:pathPrefix="/invite" /> -->
			</intent-filter>
		</activity>
		
		<!-- Default Icon Activity-Alias (enabled by default) -->
		<activity-alias
			android:name="com.yvanbrunel.dimmer.DefaultIcon"
			android:targetActivity="com.yvanbrunel.dimmer.TransitionActivity"
			android:enabled="true"
			android:exported="true"
			android:icon="@mipmap/appicon"
			android:roundIcon="@mipmap/appicon_round"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity-alias>
		
		<!-- Music Icon Activity-Alias -->
		<activity-alias
			android:name="com.yvanbrunel.dimmer.MusicIcon"
			android:targetActivity="com.yvanbrunel.dimmer.TransitionActivity"
			android:enabled="false"
			android:exported="true"
			android:icon="@mipmap/appicon_music"
			android:roundIcon="@mipmap/appicon_music_round"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity-alias>
		
		<!-- Vinyl Icon Activity-Alias -->
		<activity-alias
			android:name="com.yvanbrunel.dimmer.VinylIcon"
			android:targetActivity="com.yvanbrunel.dimmer.TransitionActivity"
			android:enabled="false"
			android:exported="true"
			android:icon="@mipmap/appicon_vinyl"
			android:roundIcon="@mipmap/appicon_vinyl_round"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity-alias>
		
		<!-- Headphones Icon Activity-Alias -->
		<activity-alias
			android:name="com.yvanbrunel.dimmer.HeadphonesIcon"
			android:targetActivity="com.yvanbrunel.dimmer.TransitionActivity"
			android:enabled="false"
			android:exported="true"
			android:icon="@mipmap/appicon_headphones"
			android:roundIcon="@mipmap/appicon_headphones_round"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity-alias>
		<activity android:name=".Activities.PlaybackBubbleActivity" android:label="Dimmer Bubble" android:allowEmbedded="true" android:resizeableActivity="true" android:documentLaunchMode="always" android:exported="false" android:taskAffinity="" android:launchMode="singleInstance" android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation" />
		<service android:name="com.yvanbrunel.dimmer.ExoPlayerService" android:directBootAware="true" android:exported="true" android:foregroundServiceType="mediaPlayback">
			<intent-filter>
				<action android:name="android.media.browse.MediaBrowserService" />
			</intent-filter>
		</service>
		<service android:name="com.yvanbrunel.dimmer.QuickSettingsTileService" android:permission="android.permission.BIND_QUICK_SETTINGS_TILE" android:icon="@drawable/exo_icon_circular_play" android:exported="true">
			<intent-filter>
				<action android:name="android.service.quicksettings.action.QS_TILE" />
			</intent-filter>
			<!-- Optional: Metadata for active tile indication -->
			<meta-data android:name="android.service.quicksettings.ACTIVE_TILE" android:value="true" />
		</service>
	</application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
	<uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
	<uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="com.nothing.ketchum.permission.ENABLE" />
	<uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
	<uses-permission android:name="android.permission.BIND_APPWIDGET" />
	<uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
	<uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROCESSING" />
	<uses-permission android:name="android.permission.RECORD_AUDIO" />
	<uses-permission android:name="android.permission.SET_WALLPAPER" />
	<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
</manifest>