<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
		<add key="DevExpress" value="https://nuget.devexpress.com/WQqYbaBT3iOrUIRhCnxBgaNuHgZPPGyVghGi6pCD2LS1Y7PFfL/api/v3/index.json" />
	</packageSources>
</configuration>