################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Dimmer/.vs
/Dimmer/bin
/Dimmer/obj
/Dimmer/obj/.cache/com.companyname.dimmermaui.flag
/Dimmer.Utilities/bin
/Dimmer.Utilities/obj
/MauiAudio/bin
/MauiAudio/obj
/Dimmer.DataAccess/bin
/Dimmer.DataAccess/obj
/Dimmer.Models/bin
/Dimmer.Models/obj
/Dimmer.Utilities/obj/Debug
/.vs
/MauiAudio/.vs/MauiAudio/DesignTimeBuild/.dtbcache.v2
/MauiAudio/.vs/MauiAudio/v17/.futdcache.v2
/MauiAudio/.vs/MauiAudio/FileContentIndex/ed3ab0f7-4aa6-4812-8aaf-1e2494e3b64e.vsidx
/MauiAudio/.vs/MauiAudio/v17/.suo
/MauiAudio/.vs/MauiAudio/v17/DocumentLayout.json
/MauiAudio/.vs/ProjectEvaluation/mauiaudio.metadata.v8.bin
/MauiAudio/.vs/ProjectEvaluation/mauiaudio.strings.v8.bin
/MauiAudio/.vs/ProjectEvaluation/mauiaudio.projects.v8.bin
/.vs/Dimmer-MAUI/v17/.wsuo
/.vs/Dimmer-MAUI/v17/DocumentLayout.json
/Dimmer/Properties/PublishProfiles/MSIX-win-x64.pubxml
/Dimmer/Dimmer-MAUI_TemporaryKey.pfx
/Dimmer/Utilities/Services/SecretFilesAndKeys.cs
/Dimmer/Properties/PublishProfiles/MSIX-win10-x641.pubxml
/Dimmer/Properties/PublishProfiles/MSIX-win10-x861.pubxml
