################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Dimmer/.vs
/Dimmer/bin
/Dimmer/obj
/Dimmer/obj/.cache/com.companyname.dimmermaui.flag
/Dimmer.Utilities/bin
/Dimmer.Utilities/obj
/MauiAudio/bin
/MauiAudio/obj
/Dimmer.DataAccess/bin
/Dimmer.DataAccess/obj
/Dimmer.Models/bin
/Dimmer.Models/obj
/Dimmer.Utilities/obj/Debug
/.vs
