################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Dimmer-MAUI/FileContentIndex/3938eecb-15d4-4bfc-9c8e-df2e0c367f91.vsidx
/.vs/ProjectEvaluation/dimmer-maui.metadata.v9.bin
/.vs
/obj
/bin
/Properties/PublishProfiles/MSIX-win10-x641.pubxml
/Utilities/OtherUtils/APIKeys.cs
/Dimmer/Dimmer/obj/
/Dimmer/Dimmer/bin/
/Dimmer/Dimmer.Droid/bin/
/Dimmer/Dimmer.Droid/obj/
/Dimmer/Dimmer.WinUI/bin/
/Dimmer/Dimmer.WinUI/obj/
/.cr/personal
/AndroidBindBtn/bin/Debug
/AndroidBindBtn/bin/Debug
/AndroidBindBtn/obj
/Dimmer.tar
/Dimmer/atldotnet-main/ATL/bin
/Dimmer/atldotnet-main/ATL/obj
/Dimmer/Dimmer.WinUI/releaseDoc/Output
*.pfx
*.json
/Dimmer/Dimmer/DimmerLive/Orchestration/ApiKeys.cs
/Dimmer/Dimmer.Tests/obj/Debug/net9.0/Dimmer.Tests.AssemblyInfo.cs
/Dimmer/Dimmer.Tests/obj/Debug/net9.0/Dimmer.Tests.assets.cache
/Dimmer/Dimmer.Tests/obj/Release/net9.0/Dimmer.Tests.AssemblyInfo.cs
/Dimmer/Dimmer.Tests/obj/Debug/net9.0/Dimmer.Tests.AssemblyInfoInputs.cache
/Dimmer/Dimmer.Tests/obj/Debug/net9.0/Dimmer.Tests.GeneratedMSBuildEditorConfig.editorconfig
/Dimmer/Dimmer.Tests/obj/Debug/net9.0/Dimmer.Tests.GlobalUsings.g.cs
/Dimmer/Dimmer.Tests/obj/Release/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/Dimmer/Dimmer.Tests/obj/Release/net9.0
/Dimmer-MAUI.rar
/Dimmer/Dimmer/Orchestration/ApiKeys.cs
/Dimmer/.vs/Dimmer-MAUI
/Dimmer.Tests/obj
/Dimmer.Tests/obj
/Dimmer.Tests/obj
/Dimmer.Tests/obj
/atldotnet-main/ATL/bin
/atldotnet-main/ATL/obj
/Dimmer/AudioSwitcher-master/AudioSwitcher.AudioApi/obj
/Dimmer/AudioSwitcher-master/AudioSwitcher.AudioApi.CoreAudio/obj
/Dimmer/AudioSwitcher-master/AudioSwitcher.AudioApi/obj
/DimmerTQLUnitTest/bin/Debug/net9.0
/DimmerTQLUnitTest/obj
/DimmerTQLUnitTest/bin/Release/net9.0
/Dimmer/Dimmer/appsettings.json
/Dimmer/Dimmer/Utils/ApiKeys.cs
/SmoothBtmBarDroid/bin/Debug/net10.0-android
/SmoothBtmBarDroid/obj
/SmoothBtmBarDroid/bin/Debug/net9.0-android
