name: Discord Release and Dev Push Notifier

on:
  release:
    types: [published]
  push:
    branches:
      - Dev-Official  # Trigger on pushes to dev-official
      - master

jobs:
  notify:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code (for push events)
        if: github.event_name == 'push' # Only checkout for push
        uses: actions/checkout@v4

      - name: Send Discord Notification (Release)
        if: github.event_name == 'release'  # Condition for release events
        uses: Ilshidur/action-discord@master
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
        with:
          args: |
            New release {{ release.tag_name }} of {{ repository.name }} is now available!
            {{ release.body }}
            Release URL: {{ release.html_url }}

      - name: Send Discord Notification (Push to dev-official)
        if: github.event_name == 'push'  # Condition for push events
        uses: Ilshidur/action-discord@master
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
        with:
          args: |
            New push to dev-official branch in {{ repository.name }}!
            Commit message: ${{ github.event.head_commit.message }}
            Committer: ${{ github.event.head_commit.author.name }}
            Commit URL: ${{ github.event.head_commit.url }}
            Pushed by: ${{ github.actor }}
